<a href="#/add" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-plus"></span> Add</a>

<table class="table">
    <thead>
        <tr>
	        <th>First Name</th>
	        <th>Last Name</th>
	        <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="person in people._embedded.people">
            <td>{{person.firstName}}</td>
            <td>{{person.lastName}}</td>
            <td><a data-ng-click="remove(person)">Delete</a></td>
        </tr>
    </tbody>
</table>
